@model AkademiPlus_Transportation.Models.tbl_Admin

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<h2>Yeni Admin Girişi</h2>

<form method="post">
    <label>Kullanıcı Adı</label>
    @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
    <br />
    <label>Şifre</label>
    @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
    <br />
    <label>Rol </label>
    @Html.TextBoxFor(x => x.AdminRole, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>