@model List<AkademiPlus_Transportation.Models.Tbl_Services>

<section class="w3l-index-about py-5" id="about2">
    <div class="container py-md-5 py-2">
        <div class="row">
     
            <div class="col-lg-6 pe-lg-5">
                <div class="w3l-abouthny-img">
                    <img src="~/Transpolar-Starter/assets/images/ab.jpg" alt="" class="img-fluid radius-image">
                </div>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5">
                <div class="w3l-abouthny-info">
                    <h6 class="title-subw3hny">Size Sunduklarımız</h6>
                    <h3 class="title-w3l">
                        Tüm Gönderileriniz Üzerinde Tam Kontrol Sunuyoruz
                    </h3>
                    <p class="mt-4">Firmamız ile gönderdiğiniz tüm yük ve kargolarınız için aşağıdaki hizmetlerden her an yararlanabilirsiniz.</p>
                    <ul class="w3l-right-book w3l-right-book-grid mt-md-5 mt-4">
                        <li><span class="fas fa-check"></span> Bütçe Dostu Fiyatlar</li>
                        <li><span class="fas fa-check"></span> Anlık Takip</li>
                        <li><span class="fas fa-check"></span> Depolama</li>
                        <li><span class="fas fa-check"></span> Tam Donanımlı Güvenlik</li>
                        <li><span class="fas fa-check"></span> 7/24 Canlı Destek</li>
                        <li><span class="fas fa-check"></span> Hızlı Ve Zamanında Teslimat</li>
                    </ul>
                    <a href="#services" class="btn btn-style btn-primary mt-4">Şimdi Keşfet!</a>
                </div>
            </div>
           
        </div>
    </div>
</section>