
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<h2>Yeni Kategori Ekle</h2>

<label>Kategori Adı</label>
<br />
<form method="post">
    <input type="text" class="form-control" name="CategoryName">
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>
