
<section class="w3l-features py-5" id="features">
    <div class="container py-lg-5 py-md-4 py-2">
       
        <div class="main-cont-wthree-2">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="grids-1 box-wrap">
                        <div class="icon">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h4>Taşıma Hizmeti</h4>
                        <p class="text-para">Tüm yük ve bireysel kargolarınızı dünyanın her yerine taşıyoruz.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="grids-1 box-wrap">
                        <div class="icon">
                            <i class="fas fa-chalkboard-teacher"></i>
                        </div>
                        <h4>Anlık Kargo Durumu Takibi</h4>
                        <p class="text-para">Takip numaranız ile anlık olarak hareket durumlarını görebilirsiniz. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="grids-1 box-wrap">
                        <div class="icon">
                            <i class="fas fa-people-carry"></i>
                        </div>
                        <h4>Global Hizmet Ağı</h4>
                        <p class="text-para">Dünya'nın her yerinde bulunan ofislerimizden destek alabilirsiniz.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>